.card-container {
    height: fit-content ;
    width: 874px ;
    padding: 10px 14px;
    border-radius: 10px ;
    background-color: #fff ;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

